html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background-color: #1e1e1e;
}

#messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.anime{
    animation-name: smooth;
    animation-duration: 1.5s;
}

@keyframes smooth {
    from {opacity: 0;}
    to {opacity: 1;}
  }

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    margin: 1em;
    color: white;
}

.red{
    color: rgb(216, 0, 0);
}