body {
    background: #1e1e1e;
    color: white;
    font-family: monospace;
}

header {
    text-align: center;
}

.eg {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    
    background-color: #1e1e1e;
    border: 0ch;
    font-size: -webkit-xxx-large;
    outline: none;
    
    color: white
}

.head-picture {
    max-width: 10vh;
    max-height: 10vh;
}

.button {
    font-size: xx-large;
    color: white;
    cursor: pointer; /* Comme Tobias */
    border-radius: 10px;
    font-weight: bold;
    border: white;

    margin: 8px;
    padding: 8px;
}

.yes-button {
    background-color: green;
}

.yes-button:hover {
    background-color: rgb(0, 105, 0);
}

.no-button {
    background-color: red;
}

.no-button:hover {
    background-color: rgb(216, 0, 0);
}

.fit-picture{
    max-height: 50vh;
}

.main-container {
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
}

.progress-bar-container{
    margin-bottom: 15px;
}

.progress-bar{
    width: -webkit-fill-available;
}

progress {
    border: none;
}

progress::-moz-progress-bar {
background: lightcolor;
}

progress::-webkit-progress-value {
    background: red;
}


.button-container{
    margin-top: 10px;
}

.title{
    font-size: xx-large;
}

.tourne {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.tourneA {
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(-360deg); }
  }
  @-webkit-keyframes spin {
    100% { -webkit-transform: rotate(-360deg); }
  }
  @keyframes spin {
    100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
  }

.sizeEg{
    max-height: 30vh;
    border-radius: 50%;
    margin: 3vh;
}

.bodyeg {
    text-align: center;
}