body {
    background: #1e1e1e;
    color: #D6221D;
}

header {
    text-align: center;
}

.eg {
    text-align: center;
    background-color: #1e1e1e;
    border: 0ch;
    text-shadow:   -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
     -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff,
     1px 1px 10px #ffffff;
    color:#DE3535;
    font-size:xx-large;
    outline: none;
}

.head-picture {
    max-width: 10vh;
    max-height: 10vh;
}

.button {
    font-size: xx-large;
    color: white;
    cursor: pointer; /* Comme Tobias */
    border-radius: 10px;
    font-weight: bold;
    border: white;

    margin: 8px;
    padding: 8px;
}

.yes-button {
    background-color: green;
}

.yes-button:hover {
    background-color: rgb(0, 105, 0);
}

.no-button {
    background-color: red;
}

.no-button:hover {
    background-color: rgb(216, 0, 0);
}

.fit-picture{
    max-height: 50vh;
}

.main-container {
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
}

.progress-bar {
    
}


.button-container{
    margin-top: 10px;
}

.title{
    font-size: xx-large;
}

.tourne {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(-360deg); }
  }
  @-webkit-keyframes spin {
    100% { -webkit-transform: rotate(-360deg); }
  }
  @keyframes spin {
    100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
  }