body {
    background: #1e1e1e;
    color: #D6221D;
}

header {
    text-align: center;
}

.eg {
    text-align: center;
    background-color: black;
    border: 0ch;
    text-shadow:   -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff,
     1px 1px 10px #ffffff;color:#DE3535;
    font-size:xx-large;
    outline: none;
}

.button {
    font-size: xx-large;
    color: white;
}

.yes-button {
    background-color: green;
}

.no-button {
    background-color: red;
}

.fit-picture{
    max-height: 50vh;
}